<div class="animate__animated animate__fadeIn animate__faster">
  <p>Por Capital</p>
  <hr>

  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar($event);"
        placeholder="Buscar capital..."
      >
      </app-pais-input>
    </div>
  </div>

  <hr>
</div>

  <div 
    *ngIf="hayError"
    class="alert alert-danger"
  >
    No se encontro nada con el termino {{termino}}
  </div>

  <div *ngIf="capital.length > 0" class="row">
    <div class="col">
      <app-pais-tabla
        [paises]="capital"
      >
      </app-pais-tabla>
    </div>
  </div>
